body {
    background-color: rgb(36, 36, 36);
}
.page__border {
    border: solid 5px rgb(36, 36, 36);
    background-color: rgb(61, 61, 61);
    box-shadow: 0px 0px 10px 5px gold;
}
.page {
    margin: 0px 15% 300px;
}

.page__sidebar {
    display: flex;
    top: 30vh;
    position: sticky;
    color: white;
}
.page__sidebar > ul {
    list-style-type: none;
}
.page__sidebar > ul > li {
    padding: 10px;
}
.page__sidebar > ul > li > img {
    width: 50px;
    height: 50px;
    padding: 5px;
    filter: brightness(0) invert(1);

    border: solid 3px (36, 36, 36);
}
.page__sidebar > ul > li > img:hover {
    filter: brightness(1) invert(0);
    background-color: gold;
    box-shadow: 0px 0px 10px 2px gold;
    border-radius: 20px;
}

.page__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.page__profileImage {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.page__profile--text {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}

p {
    font-size: 20px;
    color: gold;
}

h1 {
    margin-bottom: 50px;
    margin-top: 100px;
    color: silver;
}
.page__title {
    display: flex;
    justify-content: center;
}
.page__overview {
    margin-top: 550px;
}
.page__overview--contents {
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
