@use "./partials/palette";
@use "./modules/baseModule.scss";

header {
    color: white;
}
body {
    background-color: palette.$primary;
}
.page {
    margin: 0px 15% 300px;

    &__sidebar {
        display: flex;
        width: 10vw;
        top: 30vh;
        position: sticky;
        color: white;
    }
    &__profile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        &--text {
            display: flex;
            justify-content: center;
            align-content: center;
            margin-top: 50px;
        }
    }
    &__profileImage {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    &__title {
        display: flex;
        justify-content: center;
    }
    &__overview {
        @include baseModule.content-container($width: 80vh, $height: 500px);
        margin-top: 550px;
    }
    &__skills {
        @include baseModule.content-container($width: 80vh, $height: 500px);

        &--contents {
            padding: 50px;
            @include baseModule.Grid($xSize: 3, $ySize: 4);

            &-item {
                --fa-animation-duration: 0s;
                @extend %centerGrid;
                @extend %invertPicStable;
                &:hover {
                    --fa-animation-duration: 2s;
                    @extend %invertPicHover;
                }
            }
        }
    }
    &__projects {
        @include baseModule.content-container($width: 80vh, $height: 500px);
    }
    &__contact {
        @include baseModule.content-container($width: 50vh, $height: 300px);
    }
    &__sidebar > ul {
        list-style-type: none;
        & > li {
            padding: 10px;
            & > img {
                @extend %sideBarPic;
                @extend %invertPicStable;
                &:hover {
                    @extend %invertPicHover;
                }
            }
        }
    }
}

p {
    font-size: 20px;
    color: palette.$secondary;
}

h1 {
    color: palette.$tertiary;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 100px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: overline;
}
h2 {
    @extend h1;
    font-size: 40px;
}
form {
    margin: auto;
}
.form-style {
    color: palette.$secondary;
    font-size: 20px;

    & > span {
        color: red;
    }
}
