@use "./partials/palette";
@use "./modules/baseModule.scss";

header {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    position: sticky;
    top: 10px;
    & > a {
        color: white;
        padding: 10px;
        padding-right: 20px;
        text-decoration: overline;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        &:hover {
            color: palette.$secondary;
            cursor: pointer;
        }
    }
}
body {
    background-color: palette.$primary;
}
.page {
    margin: 0px 15% 300px;

    &__sidebar {
        display: flex;
        width: 10vw;
        top: 30vh;
        position: sticky;
        color: white;
    }
    &__profile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        &--text {
            display: flex;
            justify-content: space-around;
            align-content: center;
            margin-top: 50px;
        }
    }
    &__profileImage {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        @extend %center;
        @extend %border;
    }
    &__title {
        display: flex;
        justify-content: center;
    }
    &__overview {
        @include baseModule.content-container($width: 80vh, $height: 500px);
        margin-top: 550px;
    }
    &__skills {
        @include baseModule.content-container($width: 80vh, $height: 500px);

        &--contents {
            padding: 50px;
            @include baseModule.Grid($xSize: 3, $ySize: 4);

            & > a {
                text-decoration: none;
                &:active {
                    color: black;
                }
                &:hover {
                    color: black;
                }
                &:visited {
                    color: black;
                }
            }

            &-item {
                --fa-animation-duration: 0s;
                @extend %centerGrid;
                @extend %invertPicStable;
                &:hover {
                    --fa-animation-duration: 2s;
                    cursor: pointer;
                    @extend %invertPicHover;
                }
            }
        }
    }
    &__projects {
        @include baseModule.content-containerNoBorder(
            $width: 60vw,
            $height: 500px
        );
    }
    &__contact {
        @include baseModule.content-container($width: 50vh, $height: 300px);
    }
    &__sidebar > ul {
        list-style-type: none;
        & > li {
            padding: 10px;
            @extend %sideBarPic;
            & > a > img {
                @extend %sideBarPic;
                @extend %invertPicStable;
                &:hover {
                    @extend %invertPicHover;
                    cursor: pointer;
                }
            }
        }
    }
}
.project {
    @extend %center;
    &__description {
        width: 600px;
        height: 200px;
        @extend %border;
        border-radius: 20px;
        top: 75px;
        right: 30%;
        position: relative;
        @extend %center;
        flex-direction: column;
        & > p {
            margin: 20px;
            margin-right: 15%;
        }
    }
    &__preview {
        width: 350px;
        height: 350px;
        left: 60%;

        border-radius: 20px;
        @extend %border;
        z-index: 1;
        position: relative;
        & > p {
            margin: 30px;
            color: palette.$secondary;
        }
    }
}
h3 {
    display: flex;
    justify-content: center;
    color: palette.$tertiary;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

p {
    font-size: 20px;
    color: palette.$secondary;
}

h1 {
    color: palette.$tertiary;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 100px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: overline;
}

h2 {
    @extend h1;
    font-size: 40px;
}
form {
    margin: auto;
}
.form-style {
    color: palette.$secondary;
    font-size: 20px;

    & > span {
        color: red;
    }
}
